<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- lets build a full screen login area! -->
    <div id="wrap">
        <h2>Click the button below to see a super simple fullscreen login</h2>  
        <button class="clicky"><i class="fa  fa-external-link"></i> Go Fullscreen</button>
        <div id="fullscreen">
            <a href="#" class="close"><i class="fa fa-times"></i></a>
                <div class="form-wrap">
                <h1>Member Login</h1>
                <form action="" method="get">
                    <label>Username</label><input type="text" name="input" value="Username">
                <label>Password</label><input type="text" name="input" value="Password">
                    <button name="submit">Login</button> 
                </form>
            </div>
    
        </div>
    </div>
    <a href="https://cdpn.io/fzAHq" class="plug">Improved Plugin Version</a>
  
       
</body>
</html>